@font-face {
    font-family: FiraSansExtraCondensed-SemiBold;
    src: url(../fonts/FiraSansExtraCondensed-SemiBold.ttf);
}

@font-face {
    font-family: FiraSansExtraCondensed-ExtraLight;
    src: url(../fonts/FiraSansExtraCondensed-ExtraLight.ttf);
}

.body {
    margin: 0;
}

.notes {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    font-size: 18px;
    color: #2c2c2c;
}

.note {
    background-color: antiquewhite;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}

.title-note {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 15px 35px 15px 15px;
}

.title-note textarea {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    line-height: 22px;
}

.title-note textarea:focus {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    font-size: 28px;
    line-height: 33px;
}

.title-note-text {
    line-height: 33px;
    overflow-wrap: anywhere;
}

.tasks {
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.tasks__task-text {
    line-height: 22px;
    overflow-wrap: anywhere;
}

/* цвет для заметки */

.note--indianred {
    background-color: #e38c8c;
}

.note--lavender {
    background-color: lavender;
}

.note--antiquewhite {
    background-color: antiquewhite;
}

.note--teal {
    background-color: #9cdede;
}

/* стили для выполненных задач */
.done {
    color: #9d9d9d;
    font-style: italic;
    text-decoration: line-through;
    position: relative;
}

/* стили для новой заметки */

.new-note {
    background-color: #fcf6f2;
    font-style: italic;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.title-new-note {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

.title-new-note textarea {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
}

.button {
    position: absolute;
    background-color: transparent;
    padding-right: 0;
    border: none;
    cursor: pointer;
    color: #2c2c2c;
}

.edit-button {
    color: #9d9d9d;
}

.button-task-new {
    font-size: 40px;
    bottom: 0;
    left: 223px;
}

.button-task-del {
    font-size: 22px;
    top: 9px;
    left: 225px;
}

.input {
    width: 215px;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    color: #2c2c2c;
    background-color: transparent;
    border: none;
    overflow: hidden;
    resize: none;
}

.input:focus {
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    line-height: 18px;
    outline-color: rgba(44, 44, 44, 0.18);
    outline-style: ridge;
}
