@font-face {
    font-family: FiraSansExtraCondensed-SemiBold;
    src: url(../fonts/FiraSansExtraCondensed-SemiBold.ttf);
}

@font-face {
    font-family: FiraSansExtraCondensed-ExtraLight;
    src: url(../fonts/FiraSansExtraCondensed-ExtraLight.ttf);
}

.body {
    margin: 0;
}

.note {
    background-color: antiquewhite;
    width: 270px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    font-size: 18px;
    color: #2c2c2c;
}

.title-note {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    padding-left: 15px;
    max-width: 218px;
    position: relative;
}

.tasks {
    margin-top: 0;
    padding-left: 30px;
}

/* цвет для заметки */

.new-color {
    background-color: #b7dbdc;
}

/* стили для выполненных задач */
.done {
    color: #9d9d9d;
    font-style: italic;
    text-decoration: line-through;
    position: relative;
}

/* стили для новой заметки */

.new-note {
    background-color: #fcf6f2;
    font-style: italic;
    cursor: pointer;
}

.title-new-note {
    font-family: FiraSansExtraCondensed-SemiBold, sans-serif;
    padding-left: 15px;
}

.button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2c2c2c;
}

.button-task-new {
    font-size: 40px;
    bottom: 0;
    left: 223px;
}

.button-task-redact {
    font-size: 14px;
    color: #9d9d9d;
}

.button-title-redact {
    font-size: 14px;
    top: 6px;
}

.button-task-del {
    font-size: 22px;
    top: 9px;
    left: 225px;
}

.input-task {
    /*width: 75%;*/
    /*height: 100%;*/
    margin: 0;
    font-family: FiraSansExtraCondensed-ExtraLight, sans-serif;
    font-size: 18px;
    color: #2c2c2c;
    /*background-color: transparent;*/
    /*border: none;*/
}

.input-task:focus {
    outline: 0;
}
